# Prerequisites
*.d
.vs/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# macOS specific files
.DS_Store
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.vscode/requirements.json
.vscode/snippets.json
.vscode/keybindings.json
.vscode/globalStorage/
.vscode-workspace/
.vscode/c_cpp_properties.json

# specific files
users.txt
